* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.link-header {
    font-size: 16px;
    font-weight: 400;
    color: #17233d;
    margin-right: 50px;
    text-align: center;
    cursor: pointer;
    background: none;
}

.link-header:hover {
    filter: drop-shadow(7px 4px 4px  rgba(0,0,0,0.8));
}

.link-header:active {
    color: #6FBF44;
    opacity: 0.7;
}


header {
    margin-top: 40px;
    margin-left: 42px;
    display: inline-block;
    background: #b2ee91;
    padding: 18px;
    border-radius: 35px;
}


button {
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: #17233d;
}

img {
    width: 595px;
    height: 500px;
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
}

main {
    display: inline-block;
    margin-left: 35px;
    width: 493px;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #4b505a;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    color: #161A49;
}

.link-bottom {
    font-weight: 500;
    font-size: 18px;
    color: #6FBF44;
    cursor: pointer;
}

.link-bottom:hover {
    opacity: 0.7;
}

.link-bottom:active {
    color: #17233d;
}

@media screen and (max-width: 700px) {

    header {
        display: none;
    }

    button {
        margin-top: 40px;
        width: 91px;
        height: 31px;
        position: relative;
        display: block;
        left: 390px;
    }

    img {
        display: block;
        margin: 35px 25%;
        width: 312px;
        height: 288px;
        position: fixed;
        bottom: 0%;
    }

    h1 {
        display: block;
        font-size: 30px;
        width: 278px;
        margin: 20px auto;
        text-align: center;
    }

    p {
        display: block;
        font-size: 16px;
        width: 304px;
        height: 165px;
        text-align: center;
        margin: 20px auto;
    }

    body {
        width: 414px;
        height: 100vh;
    }

    main {
        display: block;
    }

    .link-bottom {
        display: block;
        width: 112px;
        margin: auto;
    }

}